# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
*.spec
dist
build
__pycache__

# My configurations:
db.ini
settings.py
*.json
*.html
*.png
*.jpg
*.pdf
*.exe
*.log
.vscode
user_pwd
otherfile
text.py
Base.py
*.1.py
setAirports.py
.history
test*